@import "tailwindcss";

:root {
  --background: #f2e9e4;  /* your custom light mode background */
  --foreground: #171717;
  --custom-brown : #5e503f;
  --custom-blush-ivory : #f2e9e4;
  --custom-creamy-beige : #efe6d8;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-brown: var(--custom-brown);
  --color-custom-blush-ivory: var(--custom-blush-ivory);
  --color-custom-creamy-beige: var(--custom-creamy-beige);
  --font-sans: var(--font-montserrat);
  --font-sans-alt: var(--font-montserrat-alt);
  --font-cormorant: var(--font-cormorant-garamond);
  --font-raleway: var(--font-raleway);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #22333b;  /* your custom dark mode background */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
